
  /* html { 
    background-image: linear-gradient(to right bottom, #005c96, #005d7d, #005a5e, #2c5246, #3f4a3c);

    background-repeat:no-repeat;
    background-position:center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */